.estado-tag {
  padding: 4px 10px;
  border-radius: 12px;
  font-weight: bold;
  display: inline-block;
  font-size: 0.85rem;
}

.verificada {
  background-color: #2ecc71;
  color: white;
}

.no-verificada {
  background-color: #e74c3c;
  color: white;
}


.uid-col:hover {
  text-decoration: underline;
}


.busqueda-filtros {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  margin-bottom: 20px;
}

.full-width input,
.full-width select,
.full-width button {
  flex: 1;
  min-width: 200px;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 6px;
}

.full-width {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
}

.descargar {
  background-color: #2ecc71;
  color: black;
  border: none;
  font-weight: bold;
  cursor: pointer;
}

.descargar:hover {
  background-color: #27ae60;
    color: white;

}

.estado-tag.activada {
  background-color: #d4edda;
  color: #155724;
  font-weight: bold;
  border-radius: 4px;
  padding: 2px 6px;
  display: inline-block;
}

.estado-tag.desactivada {
  background-color: #f8d7da;
  color: #721c24;
  font-weight: bold;
  border-radius: 4px;
  padding: 2px 6px;
  display: inline-block;
}

.resumen-usuarios {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  margin-bottom: 24px;
  justify-content: space-between;
}

.tabla-resumen {
  flex: 1;
  min-width: 250px;
  background: #fff;
  padding: 12px;
  border-radius: 8px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.05);
}

.tabla-resumen h4 {
  margin-bottom: 10px;
  font-size: 16px;
  color: #333;
}

.tabla-resumen table {
  width: 100%;
  font-size: 14px;
  border-collapse: collapse;
}

.tabla-resumen th,
.tabla-resumen td {
  padding: 4px 8px;
  border-bottom: 1px solid #eee;
}

.tabla-resumen tr:last-child td {
  border-bottom: none;
}
